@charset "utf-8";
h3 {text-align: center; font-size: 24px; border-bottom: 2px solid #ccc; padding-bottom: 20px; width: 30%; margin: 0 auto; margin-bottom: 40px;}
form { width: 30%; margin: 0 auto;}
form > p {display: flex;}
form > p > label {display: block; width: 80px; text-align: right; margin-right: 20px;}

form > p > select {padding: 6px 20px; width: 58%;}
form > p > input{padding: 6px 20px; width: 50%;}
form > button {background-color: #333; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; width: 100%; margin-top: 20px; font-size: 20px;}